@media screen and (max-width: 992px) and (min-width: 481px){

  .fork-app{
    &-title{
     font-size: 72px;
    }
    &-subtitle{
      font-size: 24px;
    }
    &-version{
      font-size: 14px;
    }
  }

  .fork-menu{
    padding: 20px 20px 40px 20px;
    background-color: #27262A;
    display:flex;
    align-items: center;
    &-logo{
      display: inline-flex;
      align-items: center;
    }
    &-navbar{
      display: inline-flex;
      margin-top:100px;
      margin-left: 13%;
      position: absolute;
    }
    &-button{
      height: 50px;
      display: inline-flex;
      align-items: center;
    }
  }
  .fork-burger{
    display: none;
  }
}

@media screen and (max-width: 660px){
.fork-menu{
  &-link{
    font-size: 14px;
    margin-left:30px;
  }
  &-navbar{
    margin-left: 10%;
  }
}
}

@media screen and (max-width: 480px){
  .fork-menu{
    background-color: #27262A;
    justify-content: space-between;
    padding:34px 16px;
    &-name{
      display: none;
    }
    &-navbar{
      display: none;
    }
    &-button{
      justify-content: center;
      margin-left: 0;
    }
  }
  .fork-burger{
    display: flex;
  }
  .dropdown-active{
    display: block;
  }

}