@media screen  and (max-width: 1066px) and (min-width: 481px){
  .get-info{
    display: flex;
    //align-items: center;
    flex-direction: column;
    padding: 25px 0px 25px 0px;

    &-item {
      display: flex;
      //justify-content: right;
      //width: 80%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &-block {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-bottom: 75px;

      &-main-title.active{
        display: block;
        text-align: center;
        color : #8D81AC ;
        font-size: 36px;
        font-family: Montserrat, sans-serif;
        margin-top: 50px;
        margin-bottom: 20px;
        padding-left: 0;
        font-weight: bold;
      }
    }

    &-main-block{

      &-img{
        height: 519px;
        background-color: #F4F4F4;
        display: flex;
        justify-content: flex-end;


      }
      &-title{
        display: none;
      }

    }
  }
}

@media screen and (max-width: 686px) {
  .get-info{
    &-main-block {
      &-img img{
        width: 105%;
      }
    }
  }
}

@media screen and (max-width: 480px ) {
  .get-info{
    display: flex;
    //align-items: center;
    flex-direction: column;
    padding: 25px 0 0 0;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      //justify-content: right;
      //width: 80%;
      margin-top: 20px;
      margin-bottom: 20px;

      &-icon{
        margin-bottom: 20px;
      }

      &-text{
        text-align: center;
      }
    }

    &-block {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-bottom: 75px;
      margin-left: 50px;

      &-main-title.active{
        display: block;
        text-align: center;
        color : #8D81AC ;
        font-size: 28px;
        font-family: Montserrat, sans-serif;
        margin-top: 50px;
        margin-bottom: 20px;
        padding-left: 0;
        font-weight: bold;
      }
    }

    &-main-block{

      &-img{
        height: 519px;
        background-color: #F4F4F4;
        display: flex;
        justify-content: flex-end;


      }
      &-img img{
        width: 105%;
        height: 350px;
      }
      &-title{
        display: none;
      }

    }
  }


}
