@media screen and (max-width: 992px) {
  .price {
    &-container{
      display: flex;
      flex-wrap: wrap;
    }

    &-title{
      font-size: 40px;
      text-align: center;
    }
  }




}
@media screen and  (max-width: 481px){
  .price{
    &-title{
      font-size: 26px;
    }

  }



}
