@media screen and (max-width: 992px) and (min-width: 481px) {
  .revolution {
    &-title {
      font-size: 42px;
    }
  }
}



@media screen and (max-width: 480px) {
  .revolution{
    &-title {
      font-size: 26px;
    }

    &-subtitle {
      font-size: 14px;
    }
  }

  .statistic{

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    padding: 40px;


    &-line{
        margin-top: 15px;
        max-width: calc((100% / 2) - 20px );

      }

  }
}
