@media screen and (max-width: 992px) {
  .reviews {
    background-position: center;

    &-title {
      font-size: 42px;
    }

    &-companies {
      grid-template-columns: 315px 315px;
      grid-template-rows: 142px 142px 142px;
    }

    &-subtitle {
      padding-top: 40px;
    }
  }
}


@media screen and (max-width: 481px) {
  .reviews {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-title {
      font-size: 36px;
    }

    &-companies {
      grid-template-columns: 315px;
      grid-template-rows: 142px 142px 140px;
      grid-gap: 35px;
    }

  }
}





