@import "variables";


.fork-app {
  color: white;
  background-image: url("./img/fork-app-background.png");
  background-position: center;
  font-family: Montserrat, sans-serif;
  &-title {
    text-align: center;
    font-size: 82px;
    margin-top: 120px;
    font-weight: bold;
  }

  &-subtitle {
    text-align: center;
    color: $text-color;
    font-size: 30px;
    margin-top: 20px;
  }

  &-version {
    text-align: center;
    color: #848E97;
    margin-top: 20px;
    padding-bottom: 400px;
  }

}

.download-button{
  background-color: $text-color;
  border-radius: $border-radius;
  padding: 20px 70px 20px 70px;
  border: none;
  color: white;
  font-size: 21px;
  display: flex;
  margin: 0 auto;
  margin-top:-35px;

}
.download-button:hover{
  background-color: white;
  color: $text-color;
}

.fork-menu {
  display: flex;
  justify-content: space-between;
  color: $text-color;
  font-size: 24px;
  padding: 30px 90px 0 90px;

  &-logo {
    display: flex;
    align-items: center;
  }
  &-logo:hover{
    color: white;
  }
  &-name {
    margin-left: 17px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: center;
    font-weight: bold;
  }

  &-navbar {
    display: flex;
    text-decoration: none;
    align-items: center;
  }

  &-link {
    text-decoration: none;
    color: $text-color;
    margin-left: 48px;
    font-size: 16px;
    font-weight: bold;
  }

  &-link:hover{
    color: white;
  }

  &-button {
    margin-left: 48px;
    padding: 11px 30px 11px 30px;
    background-color: $text-color;
    border: none;
    color: white;
    border-radius: $border-radius;
  }
  &-button:hover{
    background-color: white;
    color: $text-color;

  }
}


.fork-burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: 10px;
  cursor: pointer;
  &-line:first-child{
    width: 20px;
  }
  &-line {
    width:30px;
    height: 3px;
    background-color: white;
    transition: 0.3s all ease-in-out;
  }
}

.burger-toggle {
  & > .fork-burger-line:first-child {
    transform: rotate(45deg) translate(10px, 10px);
    width: 30px;
  }

  & > .fork-burger-line:nth-child(2) {
    opacity: 0;
  }

  & > .fork-burger-line:last-child {
    transform: rotate(-45deg) translate(10px, -10px);
  }

}

.fork-burger-dropdown{
  position: absolute;
  margin-left: 10%;
  &-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 26px;

  }
  &-link-wrapper{
    background-color: #333333;
    padding: 40px 120px 40px 40px;
    border-bottom: 3px solid #3B3B3B;
  }
  &-link-wrapper:hover .fork-burger-dropdown-link{
    color: #8d81ac;
  }
  &-link-wrapper:hover:before{
    content: '';
    width: 8px;
    height: 53px;
    background-color: #8D81AC;
    position: absolute;
    margin-left: -40px;
    margin-top: -15px;
  }
}
.fork-burger-dropdown{
  display: none;
}