.price{
  background-image: url("../scss/img/Layer 2 1.png");
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;


  &-title{
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
  }


  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;


    &-block{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 250px;
      height: 450px;
      padding-bottom: 30px;
      background-color: rgba(255,255,255,0.1);
      margin: 8px;


      &-name{
        height: 70px;
        background-color: rgba(255,255,255,0.2);
        width: 100%;
       justify-content: center;
        display: flex;
        align-items: center;
        font-family: Montserrat, sans-serif;
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
      }

      &-name.active {
        background-color: #412e41;
      }

      &-price{
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 60px;
        margin-top: 30px;
      }

      &-price.active{
        font-size: 82px;
      }

      &-period{
        font-family: Montserrat, sans-serif;
        color: #FFFFFF;
        font-size: 14px;
        margin-top: 30px;
        text-transform: uppercase;
      }


      &-line{
        width: 60px;
        height: 5px;
        margin-top: 30px;
        background-color: #8D81AC;
        border: none;
      }
      &-info{
        font-family: Montserrat, sans-serif;
        color: #FFFFFF;
        font-size: 16px;
        margin-top: 30px;
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 60px;
      }

      &-btn{
        margin-top: 30px;
        width: 160px;
        height: 45px;
        background-color: rgba(255,255,255,0.2);
        border-radius: 25px;
        text-decoration: none;
        font-family: Montserrat, sans-serif;
        font-size: 15px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 300;
      }


      &-btn.active{
        margin-top: 120px;
      }
    }
    &-block.active{
      width: 300px;
      height: 550px;
      background-color: rgba(77, 54, 73,0.5);
    }
  }
}
