.reviews {
  background-image: url("./img/reviews-background.png");
  //padding: 0 0 1px 0;
  background-size: cover;
  background-repeat: no-repeat;
  &-title {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    margin-bottom: 80px;
    padding-top: 108px;
    text-align: center;
  }

  &-companies {
    display: grid;
    grid-template-columns: 315px 315px 315px;
    grid-template-rows: 142px 142px;
    grid-gap: 80px;
    justify-content: center;
  }

  &-photo-description {
    display: grid;
    text-align: center;
    grid-template-rows: 70px 74px;
  }

  &-description {
    color: white;
    font-family: Lato;
    line-height: 24px;
    font-weight: bold;
  }

    &-hr-line {
      width: 80%;
      height: 2px;
      border: none;
      background-color: #645766;
      margin: 0 auto;
      margin-top: 15px;
    }
    &-subtitle {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      padding:100px 15% 20px 15%;
      font-size: 14px;
      color: #A291A5;
    }

}
.reviews-photo {
  margin: 0 auto;
}


