.revolution{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;

  &-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 54px;
    color: #635C73;
    text-transform: uppercase;
  }

  &-subtitle{
    margin-top: 35px;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    width: 65%;
    text-align: center;
    color: #323232;
    line-height: 1.5;
  }
}


.statistic{
  display: flex;
  justify-content: center;
  margin-top: 30px;

  &-line{
    display: flex;
    align-items: center ;
    margin-left: 5px;
    margin-right: 5px;
  }

  &-btn {
    border: 1px solid rgba(27,31,35,.15);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 0;
    display: flex;
    //justify-content: space-around;
    align-items: center;
    padding: 2px 8px;
    width: 65px;
    height: 25px;
    text-decoration: none;

    &-text {
      margin-left: 5px;
      color:#323232;
      font-family: Lato , sans-serif;
      font-size: 14px;
    }

    &-count {
      color:#323232;
      text-align: center;
      margin-left: 0px;
      font-size: 13px;
      width: 28px;
      height: 25px;
      border: 1px solid rgba(27,31,35,.15);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left : 0px solid;
      padding: 2px 8px;
      display: flex;
      align-items: center;

    }

  }



}
