.get-info {
  display: flex;
  justify-content: space-around;
  padding: 50px 0px 50px 100px;

  background-color: #F4F4F4;

  &-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.3;

    &-text-title{
      color:#323232;
      font-size: 16px;
      font-family: Montserrat, sans-serif;
      margin-top: 10px;
      margin-bottom: 12px;
    }

    &-text-subtitle {
      font-size: 14px;
      font-family: Montserrat, sans-serif;
      color: #848E97;
      line-height: 1.5;
    }

    &-icon{
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 110px;
      margin-right: 10px;
    }

    &-text{
      text-align: left;
      width: 80%;
      margin-left: 10px;
    }
  }

  &-block {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2) ;
    margin-left: 75px;

    &-main-title.active{
      display: none;
    }

  }

  &-main-block{
    margin-left: 50px;
    &-title {
      color : #8D81AC ;
      font-size: 42px;
      font-family: Montserrat, sans-serif;
      margin-bottom: 20px;
      font-weight: bold;
    }

    &-img{
      width: 100%;

    }

  }


}
